
<div class="container">
    <h2> adding loved ones </h2>
<form action="/add-loved-one" method="POST">
    <label for="username">What is their name?:</label>
    <input type="text" name="username" placeholder="name"><br><br>
    <label for="password">Choose their password:</label>
    <input type="password" name="password" placeholder="Password"><br><br>
    <label for="email">What is their email:</label>
    <input type="email" name="email" placeholder="hello@moods.com"><br><br>
    <button type="submit">Sign up</button><br>
</form>
</div>