<h2>Mood entry</h2>

<form action="/createmood" method="POST">
    <div>
    <label for="emotion">Mood</label><br>
    <input type="range" name="Mood" min="0" max="100"><br>
    <label for="stress">Stress</label>
    <br>
    <input type="range" name="Stress" min="0" max="100">
    </div>
    <label for="emotion">Sleep</label><br>
    <input type="range" name="Sleep" min="0" max="100"><br>
    <button type="submit">Submit MOOD</button><br>
</form>