<h2>How is your...</h2>
<h4><em>Please choose between 0 (very bad) and 100 (excellent).</em></h4>

<form action="/createmood" method="POST">

    <label for="emotion">Mood</label><br>
    <input type="range" name="mood" min="0" max="100"><br>

    <label for="stress">Stress</label><br>
    <input type="range" name="stress" min="0" max="100"><br>

    <label for="sleep">Sleep</label><br>
    <input type="range" name="sleep" min="0" max="100"><br>

    <label for="sport">Physical exercise / sports</label><br>
    <input type="range" name="sport" min="0" max="100"><br>

    <label for="socials">Social contacts</label><br>
    <input type="range" name="socials" min="0" max="100"><br>

    <label for="work">Work / study life</label><br>
    <input type="range" name="work" min="0" max="100"><br>

    <label for="drugs">Self medication (alcohol, other drugs)</label><br>
    <input type="range" name="drugs" min="0" max="100"><br>

    <label for="menstruation">Menstrual problems</label><br>
    <input type="range" name="menstruation" min="0" max="100"><br>

     <label for="weather">Weather</label><br>
    <input type="range" name="weather" min="0" max="100"><br>

     <label for="meds">Medication</label><br>
    <input type="range" name="meds" min="0" max="100"><br>

     <label for="food">Nutrition</label><br>
    <input type="range" name="food" min="0" max="100"><br>

    <button type="submit">Submit MOOD</button><br>
</form>