<h1>Welcome, {{name}}</h1>
<p>checking</p>

    <a href="/createmood">Create a new mood</a> <br>
    <a href="/add-loved-one">Add a loved one</a> <br>

<a href="/statistics">Look at the data</a> <br>
