<h1>Welcome, {{name}}</h1>
<<<<<<< HEAD
{{#if mainUser===true}}
<p>checking</p>
{{/if}}
{{#if mainUser}}
    <a href="/createmood">Create a new mood</a> <br>
    <a href="/add-loved-one">Add a loved one</a> <br>
    {{else}}
{{/if}}
<a href="/statistics">Look at the data</a> <br>
=======

<nav>
<a href="/createmood">Create a new mood</a>
<a href="/mycontacts">My contacts</a>
<a href="/statistics">My moods</a>
<a href="/logout">Logout</a>
</nav>

>>>>>>> b5dfbe0eca7e1907d50edeefbee0458dd41b9733
