<h1>Welcome, {{name}}</h1>

<nav>
<a href="/createmood">Create a new mood</a>
<<<<<<< HEAD
<br>
<a href="/statistics">lets look at the grafics</a>
<br>
<a href="/edit-loved-ones">Add loved ones</a>
=======
<a href="/mycontacts">My contacts</a>
<a href="/statistics">My moods</a>
<a href="/logout">Logout</a>
</nav>

>>>>>>> 48da517a8cc767d3341b47a1beb1ffe4390b905d
