<h1>Welcome, {{name}}</h1>

<div class="container">
<a href="/createmood" ><button style="background:#f2e41d;">Create a new mood</button> </a> <br>
<a href="/add-loved-one"><button>Add a loved one</button></a> <br>
<a style="" href="/statistics"><button>Look at the data</button></a> <br>
<a style="" href="/logout"><button>logout</button></a> <br>
</div>