<form action="/signup" method="POST">

<label for="username">Choose a username:</label>
<input type="text" name="username" placeholder="How do you want us to call you?">

<label for="password">Choose a password:</label>
<input type="password" name="password" placeholder="Please choose your password">

<button type="submit">Sign up</button>

</form>