<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOODS :): Confirm your account</title>
</head>
<body>
    <p>Dear new community member,</p><br>
    <p>this is to confirm your MOODS account. Please click on the following URL to verify your account:</p>
    <p>http://localhost:3000/auth/confirm/${confirmationCode}</p><br>
    <p>You did not recently register? Then you can just ignore this mail.</p><br><br>

   <p>See you soon </p>
   <p>Your MOODS team :)</p> 
</body>
</html>