<h1>{{title}} </h1>
<p>here for you.</p>



<form action="/profile" method="post">

<label for="username">Your username:</label>
<input type="text" name ="username" id ="username" placeholder="Please enter your username."><br><br>

<label for="email"Your email: ></label> {{!--We may not need this input for login. Email only required for reset password---}}
<input type="email" name="email" id="email" placeholder="Please enter your email address." <br><br>

<label for="password">Your password:</label>
<input type="password" name ="password" id="password" placeholder="Please enter your password."><br><br>

<button type="submit">Sign in</button><br>
</form>
<hr>
<p>New here?
<a href="/signup">Sign up</a>
</p>