<h1>{{title}} </h1>
<p>here for you.</p>
<form action="/" method="POST">
    <label for="username">Your username:</label>
    <input type="text" name="username" id ="username" placeholder="Please enter your username."><br><br>
    <label for="password">Your password:</label>
    <input type="password" name="password" id="password" placeholder="Please enter your password."><br><br>
    <button type="submit">Sign in</button><br>
</form>
<hr>
<p>New here?
    <a href="/signup">Sign up</a>
</p>

{{#if error}}
    <p> {{error}} </p>
{{/if}}